# PostgreSQL database connection URL
# Replace values with your own local database details.

DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/senu_outfit_db

# Example if password has special characters:
# # becomes %23
# @ becomes %40
#
# Normal password:
# DATABASE_URL=postgresql+psycopg://postgres:1234@localhost:5432/senu_outfit_db
# Password with special characters:
# DATABASE_URL=postgresql+psycopg://postgres:%231234%40@localhost:5432/senu_outfit_db